@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

/* Fix for iOS zoom on focus */
@media screen and (max-width: 850px) {

  input[type="text"],
  input[type="search"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  textarea,
  select {
    font-size: 16px !important;
  }
}