@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

@media screen and (max-width: 768px) {
  input, textarea, select {
    font-size: 16px !important;
  }
}
